@charset "UTF-8";
a:focus, input:focus, button:focus {
  outline: none; }

html, body {
  height: 100%;
  margin: 0; }

body {
  background-color: #f8f8f8; }

@media (max-width: 767px) {
  .header {
    position: absolute;
    left: 0;
    right: 0; } }

.wrap {
  min-height: 100%;
  margin-bottom: -359px; }

.main {
  padding-bottom: 359px; }

.social-1 {
  float: right;
  position: relative;
  z-index: 2; }
  .social-1:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .social-1__facebook {
    background: url("../img/sprite-social.png") 25% 5% no-repeat; }
  .social-1__twitter {
    background: url("../img/sprite-social.png") 48% 72% no-repeat; }
  .social-1__youtube {
    background: url("../img/sprite-social.png") 48% 95% no-repeat; }
  .social-1__pinterest {
    background: url("../img/sprite-social.png") 37% 50% no-repeat; }
  .social-1__instagram {
    background: url("../img/sprite-social.png") 53% 28% no-repeat; }
  .social-1__google {
    background: url("../img/google-plus.png") 50% 50% no-repeat; }
  .social-1__rss {
    background: url("../img/rss.png") 50% 50% no-repeat; }
  .social-1__link {
    float: left;
    min-width: 16px;
    height: 16px;
    margin-right: 10px; }
  .social-1_pos_top {
    margin: 50px 22px 0 0; }
  @media (max-width: 479px) {
    .social-1 {
      margin: 15px 0 0 0; } }
  @media (max-width: 991px) {
    .social-1_pos_bottom {
      float: none;
      display: table;
      margin: 0 auto; } }

label {
  cursor: pointer; }

.header {
  min-height: 177px; }
  .header_margin_1 {
    margin-bottom: 42px; }

.toggle-lang {
  float: left;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  line-height: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .toggle-lang__ar-d {
    color: #fff;
    margin-left: 5px;
    font-size: 12px; }
  .toggle-lang__promo {
    color: #fff; }
  .toggle-lang__menu {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none; }
  .toggle-lang__link {
    color: #fff; }
    .toggle-lang__link:hover, .toggle-lang__link:focus {
      color: #fff;
      text-decoration: underline; }

.logo {
  margin: 24px 0 42px 64px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 2; }
  @media (max-width: 479px) {
    .logo {
      margin: 0; } }

.header-indent__left-col {
  z-index: 2; }

@media (max-width: 1199px) {
  .header-indent {
    min-height: 192px; } }

@media (max-width: 767px) {
  .header-indent {
    min-height: auto; } }

.header-indent_size_1 {
  min-height: 506px; }

.header-indent_size_2 {
  height: 173px; }

.basket {
  margin-bottom: 9px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase; }
  .basket__header {
    overflow: hidden;
    height: 27px;
    background-color: #f8f8f8; }
  .basket__log, .basket__list {
    color: #fb4d01;
    font-size: 12px;
    font-weight: 300;
    line-height: 27px; }
    .basket__log:hover, .basket__log:focus, .basket__list:hover, .basket__list:focus {
      text-decoration: none;
      color: #fb4d01;
      opacity: 0.8; }
  .basket__log {
    float: left;
    margin-left: 33px; }
  .basket__list {
    float: right;
    margin-right: 31px; }
  .basket__main {
    background-color: #fb4d01; }
  .basket__main-left {
    float: left;
    width: 79.2%;
    padding: 10px 5px 12px 26px; }
  .basket__main-right {
    float: right;
    width: 19.2%;
    text-align: center;
    padding-top: 18px; }
  .basket__edit {
    display: block;
    color: #333;
    font-size: 10px;
    font-weight: 300;
    padding-top: 20px;
    background: url("../img/cross.png") 50% 0 no-repeat; }
    .basket__edit:hover, .basket__edit:focus {
      text-decoration: none;
      color: #333;
      opacity: 0.8; }
  .basket__cart-check-wrap {
    clear: both;
    overflow: hidden; }
  .basket__view, .basket__checkout {
    float: left;
    width: 50%;
    text-align: center;
    height: 27px;
    line-height: 27px;
    background-color: #ee4a02;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer; }
    .basket__view:hover, .basket__view:focus, .basket__checkout:hover, .basket__checkout:focus {
      background-color: #e24602; }

.truck {
  font-family: 'Raleway',sans-serif;
  text-transform: lowercase; }
  .truck__bg {
    display: inline-block;
    width: 41px;
    height: 37px;
    background: url("../img/icon-cart.png") 0 3px no-repeat;
    margin-right: 10px; }
    .truck__bg:hover, .truck__bg:focus {
      opacity: 0.8; }
  .truck__price-wrap {
    display: inline-block; }
  .truck__price {
    color: #fff;
    font-size: 18px;
    font-weight: 600; }
  .truck__item-in-bask {
    display: block;
    color: #faef03;
    font-size: 12px;
    font-weight: 400;
    line-height: 9px; }
    .truck__item-in-bask:hover, .truck__item-in-bask:focus {
      text-decoration: none;
      color: #faef03;
      opacity: 0.8; }

.search {
  font-family: Raleway,sans-serif;
  text-transform: uppercase; }
  .search__form {
    overflow: hidden;
    height: 34px; }
  .search__text, .search__submit, .search__x {
    float: left; }
  .search__text {
    width: 78%;
    height: 100%;
    color: #0c0c0c;
    font-size: 10px;
    font-weight: 400;
    padding: 0 0 0 13px;
    border: 0;
    background-color: #e9e9e9; }
  .search__submit {
    width: 13%;
    border: 0;
    height: 100%;
    padding: 0;
    background: url("../img/search-icon.png") 50% 50% #333 no-repeat; }
    .search__submit:hover, .search__submit:focus {
      opacity: 0.9; }
  .search__x {
    height: 100%;
    width: 9%;
    cursor: pointer;
    background: url("../img/x.png") 47% 50% #e9e9e9 no-repeat; }

.header-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1; }
  .header-bg__main {
    max-width: 1500px;
    margin: 0 auto; }
    .header-bg__main_size_1 {
      height: 352px; }
  .header-bg__img {
    width: 100%;
    height: 100%; }
  @media (max-width: 767px) {
    .header-bg {
      position: static;
      margin-bottom: -10px; } }

.carousel-1 {
  font-family: Raleway,sans-serif; }
  .carousel-1__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    margin: 0; }
  .carousel-1__desc {
    position: absolute;
    width: 313px;
    right: 18%;
    top: 35%;
    color: #fff51f;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
  .carousel-1__text {
    margin: 10px 0 55px; }
  @media (max-width: 1199px) {
    .carousel-1__title {
      font-size: 32px; }
    .carousel-1__desc {
      font-size: 14px;
      width: 290px;
      right: 20; }
    .carousel-1__text {
      margin-bottom: 20px; } }
  @media (max-width: 991px) {
    .carousel-1__desc {
      display: none; } }

.carousel-2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%; }
  .carousel-2-wrap {
    padding-bottom: 100%;
    position: relative;
    margin-bottom: 22px; }
  .carousel-2__img-wrap {
    height: 100%; }
  .carousel-2__img {
    display: block;
    height: 100%;
    background-color: #eaeaea; }
  .carousel-2 .owl-stage-outer, .carousel-2 .owl-stage, .carousel-2 .owl-item {
    height: 100%; }

.controls {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .controls__center {
    width: 270px;
    margin: 0 auto; }
  .controls__item-wrap {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 110px;
    margin-right: -30px;
    overflow: hidden; }
    .controls__item-wrap:after {
      content: ' ';
      display: table;
      clear: both; }
  .controls__item {
    width: 70px;
    height: 110px;
    background-color: #eaeaea;
    float: left;
    cursor: pointer;
    margin-right: 30px; }
    .controls__item.active {
      border: 1px solid #000; }
  .controls__img {
    width: 100%;
    height: 100%; }
  .controls__left, .controls__right {
    cursor: pointer;
    height: 110px;
    width: 60px;
    position: absolute;
    top: 0; }
    .controls__left:hover, .controls__left:focus, .controls__right:hover, .controls__right:focus {
      opacity: 0.7; }
  .controls__left {
    left: 0;
    background: url(../img/sl2-l.png) 50% 50% no-repeat; }
  .controls__right {
    right: 0;
    background: url(../img/sl2-r.png) 50% 50% no-repeat; }
  @media (max-width: 1199px) {
    .controls__left, .controls__right {
      display: none; }
    .controls__item-wrap {
      height: 50px;
      width: 270px; }
    .controls__item {
      width: 50px;
      height: 50px; } }
  @media (max-width: 767px) {
    .controls {
      display: none; } }

.owl-nav {
  position: absolute;
  right: 11%;
  top: 45%; }

.owl-prev, .owl-next {
  width: 30px;
  height: 50px;
  background-color: #fff;
  float: left;
  text-align: center; }
  .owl-prev:hover, .owl-prev:focus, .owl-next:hover, .owl-next:focus {
    background-color: #fbde06; }

.owl__nav-item {
  font-weight: 900;
  font-size: 16px;
  line-height: 50px; }

.owl-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 8.5%; }

.owl-dot {
  display: inline-block;
  height: 4px;
  width: 40px;
  margin-right: 10px;
  background-color: #faef03; }
  .owl-dot:last-child {
    margin-right: 0; }
  .owl-dot.active {
    background-color: #fb4d01; }

@media (max-width: 1199px) {
  .owl-dots {
    bottom: 2%; } }

@media (max-width: 991px) {
  .owl-dots {
    display: none !important; } }

.button-1 {
  display: inline-block;
  color: #000;
  font-family: Raleway,sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  background-color: #fff51f;
  min-width: 124px; }
  .button-1:hover, .button-1:focus {
    text-decoration: none;
    color: #000;
    background-color: #ebe100; }
  .button-1_color_1 {
    background-color: #fb4d01; }
    .button-1_color_1:hover, .button-1_color_1:focus {
      background-color: #fe560d; }
  .button-1_font_1 {
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400; }
    .button-1_font_1:hover, .button-1_font_1:focus {
      color: #fff; }
  .button-1_size_1 {
    padding: 0 15px; }
  @media (max-width: 1199px) {
    .button-1 {
      min-width: auto;
      display: table;
      margin: 0 auto; }
      .button-1_size_1 {
        padding: 0 10px; }
      .button-1_font_1 {
        font-size: 12px; } }
  @media (max-width: 380px) {
    .button-1_size_1 {
      padding: 0 7px; }
    .button-1_font_1 {
      font-size: 10px; } }

.button-2 {
  display: block;
  border: 0;
  color: #fff;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  background-color: #333;
  text-align: center; }
  .button-2_mix_1 {
    padding: 0 43px;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.1px; }
  .button-2_mix_2 {
    padding: 0 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px; }
  .button-2_mix_3 {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    display: table;
    margin: 0 auto; }
  @media (min-width: 520px) and (max-width: 1199px) {
    .button-2 {
      display: table;
      margin: 0 auto; } }

.adds {
  list-style-type: none;
  margin: 0;
  float: right;
  overflow: hidden;
  padding: 0; }
  .adds__item {
    color: #353535;
    font-family: 'Roboto',sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px; }

.banner-1 {
  background-color: #fff51f;
  min-height: 300px;
  padding: 77px 30px 82px 25px;
  margin-bottom: 20px;
  color: #333;
  font-family: Raleway,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px; }
  .banner-1__title {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase; }
  .banner-1__text {
    margin: 0; }
  @media (max-width: 991px) {
    .banner-1 {
      display: none; } }

.banner-2 {
  height: 300px;
  background-color: #e0e0e0;
  position: relative; }
  .banner-2__img {
    width: 100%;
    height: 100%; }
  .banner-2__title {
    position: absolute;
    top: 34%;
    right: 7%;
    width: 109px;
    color: #333;
    font-family: Raleway,sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase; }
  @media (min-width: 768px) and (max-width: 991px) {
    .banner-2 {
      height: 357px; } }
  @media (min-width: 436px) and (max-width: 767px) {
    .banner-2 {
      width: 400px;
      height: 444px;
      display: table;
      margin: 0 auto; } }
  @media (max-width: 435px) {
    .banner-2 {
      width: auto;
      height: auto; } }

.widget-1 {
  padding: 22px 30px 27px;
  font-family: Roboto,sans-serif;
  background-color: #fff; }
  .widget-1__title {
    color: #000;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    margin: 0 0 20px; }
  .widget-1__item-layout {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden; }
    .widget-1__item-layout_pos_1 {
      margin: 0 -8px -8px 0; }
  .widget-1__layout {
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .widget-1__layout_hgt_1 {
      max-height: 256px; }
    .widget-1__layout_hgt_2 {
      max-height: 252px; }
  .widget-1__item {
    font-weight: 400; }
    .widget-1__item_tags {
      float: left;
      margin: 0 8px 8px 0; }
  .widget-1__link {
    display: block; }
    .widget-1__link_tags {
      color: #333;
      font-size: 14px;
      line-height: 30px;
      padding: 0 11px;
      background-color: #e9e9e9;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      .widget-1__link_tags:hover, .widget-1__link_tags:focus {
        background-color: #faef03; }
    .widget-1__link_articles {
      color: #555;
      font-size: 14px;
      line-height: 28px; }
    .widget-1__link:hover, .widget-1__link:focus {
      color: inherit;
      text-decoration: none; }
  .widget-1__view {
    color: #000;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 900;
    font-style: italic;
    display: inline-block;
    margin-top: 16px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .widget-1__view:hover, .widget-1__view:focus {
      text-decoration: none;
      color: #000; }

.central-part {
  z-index: 2;
  position: relative; }

.products {
  position: relative;
  background-color: #f8f8f8;
  padding-top: 23px;
  margin-bottom: 46px;
  font-family: Roboto,sans-serif;
  margin-bottom: 15px; }
  .products__title {
    display: inline-block;
    color: #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 0 23px 25px; }
  .products__nav {
    float: right;
    margin-right: 25px; }
  .products__prev, .products__next {
    display: inline-block;
    cursor: pointer;
    text-align: center; }
  .products__prev-icon, .products__next-icon {
    font-size: 20px;
    line-height: 30px;
    width: 23px; }
  .products_margin-1 {
    margin-bottom: 54px; }
  .products_margin-2 {
    margin-bottom: 49px; }
  .products_no-margin {
    margin-bottom: 0; }
  @media (min-width: 1200px) {
    .products__title {
      color: #333;
      font-family: 'Raleway',sans-serif;
      font-size: 30px;
      font-weight: 800;
      margin: 0 0 22px; }
    .products__nav {
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      margin: 0;
      z-index: 2; }
    .products__prev, .products__next {
      width: 40px;
      height: 40px; }
      .products__prev_color_1, .products__next_color_1 {
        background-color: #26d2fc; }
      .products__prev_color_2, .products__next_color_2 {
        background-color: #faef03; }
    .products__prev-icon, .products__next-icon {
      line-height: 40px;
      font-size: 40px; }
    .products__prev {
      float: left; }
    .products__next {
      float: right; } }
  @media (max-width: 390px) {
    .products__title {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 15px; } }

.product {
  display: table;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  font-family: Roboto,sans-serif; }
  .product__link {
    display: block;
    height: 100%; }
    .product__link:hover, .product__link:focus {
      text-decoration: none; }
  .product__img {
    height: 100%;
    width: 100%; }
  .product__img-wrap {
    width: 250px;
    height: 235px; }
    @media (min-width: 480px) and (max-width: 570px) {
      .product__img-wrap {
        width: 180px;
        height: 169px; } }
  .product__text {
    overflow: hidden;
    padding: 10px 10px 0 12px; }
  .product__title {
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    line-height: 15px;
    height: 45px;
    width: 149px;
    overflow: hidden;
    margin: 4px 0 0; }
    @media (min-width: 480px) and (max-width: 570px) {
      .product__title {
        font-size: 11px;
        width: 102px; } }
  .product__price-layout {
    float: right; }
  .product__price, .product__price-old {
    margin: 0;
    font-weight: 900;
    font-style: italic; }
  .product__price {
    color: #333;
    font-size: 18px; }
    @media (min-width: 480px) and (max-width: 570px) {
      .product__price {
        font-size: 12px; } }
  .product__price-old {
    color: #e24602;
    font-size: 14px;
    text-decoration: line-through;
    line-height: 12px; }
    @media (min-width: 480px) and (max-width: 570px) {
      .product__price-old {
        font-size: 11px; } }

.sidebar__item {
  margin-bottom: 30px; }

@media (min-width: 991px) {
  .sidebar__d-table {
    display: table;
    margin: 0; }
  .sidebar__header-g, .sidebar__row-g, .sidebar__footer-g {
    float: none; }
  .sidebar__header-g {
    display: table-header-group; }
  .sidebar__row-g {
    display: table-row-group; }
  .sidebar__footer-g {
    display: table-footer-group; } }

.nav-menu {
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  background-color: #26d2fc;
  margin-bottom: 30px; }
  .nav-menu:after {
    content: ' ';
    display: table;
    clear: both; }
  .nav-menu__title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    background-color: #333;
    margin: 0;
    padding: 32px 10px 24px 42px; }
  .nav-menu__item-container {
    padding: 4px 0 0 0;
    margin: 0;
    list-style-type: none; }
  .nav-menu__item {
    position: relative; }
    .nav-menu__item:hover, .nav-menu__item:focus, .nav-menu__item.active {
      background-color: #333; }
      .nav-menu__item:hover .nav-menu__link, .nav-menu__item:focus .nav-menu__link, .nav-menu__item.active .nav-menu__link {
        color: #fff; }
  .nav-menu__link {
    display: block;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 900;
    line-height: 37px;
    color: #000; }
    .nav-menu__link:hover, .nav-menu__link:focus {
      text-decoration: none; }
  .nav-menu_bg_1 {
    background-color: #81e6fe; }
  .nav-menu_margin_1 {
    margin-bottom: 20px; }
  .nav-menu_margin_2 {
    margin-bottom: 116px; }
  @media (max-width: 991px) {
    .nav-menu__item-container {
      display: none; }
    .nav-menu__title {
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 18px; } }

.bum {
  float: left;
  padding: 9px 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: transparent; }
  .bum__icon {
    display: block;
    width: 22px;
    height: 3px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #ddd; }
  .bum__icon + .bum__icon {
    margin-top: 4px; }
  .bum:hover, .bum:focus {
    background-color: #ddd; }
    .bum:hover .bum__icon, .bum:focus .bum__icon {
      background-color: #888; }
  .bum_pos_1 {
    margin: 10px 18px 10px 12px; }
  @media (min-width: 992px) {
    .bum {
      display: none; } }

.drop-menu {
  padding: 0 0 0 27px;
  background-color: #75e3fe;
  list-style-type: square;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  display: none; }
  .drop-menu__item {
    position: relative;
    white-space: nowrap;
    padding-right: 40px; }
    .drop-menu__item_drop {
      background: url("../img/ar-r.png") 87% 50% no-repeat; }
  .drop-menu__link {
    color: #000;
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    width: 100%;
    display: block; }
    .drop-menu__link:hover, .drop-menu__link:focus {
      text-decoration: none;
      color: #333; }
  .drop-menu_pos_1 {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2; }
  .drop-menu_level_2 {
    background-color: #81e6ff; }
    .drop-menu_level_2 .drop-menu__link {
      line-height: 33px; }
    .drop-menu_level_2 .drop-menu__item {
      background: none;
      padding-right: 20px; }
  @media (max-width: 991px) {
    .drop-menu {
      position: static;
      padding-left: 38px; }
      .drop-menu__item {
        background: none; }
      .drop-menu_level_2 {
        background-color: transparent; } }

.adaptive-1 {
  float: left; }
  @media (max-width: 991px) {
    .adaptive-1 {
      float: none; } }

.adaptive-3 {
  float: left;
  clear: left; }
  @media (max-width: 991px) {
    .adaptive-3 {
      float: none; } }
  @media (min-width: 992px) {
    .adaptive-3 {
      float: none; } }

.adaptive-2 {
  background-color: #f8f8f8;
  float: right; }
  @media (max-width: 991px) {
    .adaptive-2 {
      float: none; } }

.i-adaptive {
  overflow: hidden; }

.product-layout {
  margin-bottom: 30px; }
  @media (max-width: 479px) {
    .product-layout {
      float: none;
      width: 100%; } }

.brand {
  height: 160px;
  background-color: #fff; }
  .brand__item {
    display: block;
    width: 100%;
    height: 100%; }

.instargam-feed {
  padding: 51px 0 60px;
  background-color: #eaeaea;
  text-align: center; }
  .instargam-feed__title {
    display: inline-block;
    margin: 0 0 26px;
    padding-left: 34px;
    font-family: Roboto;
    font-weight: 900;
    font-style: italic;
    font-size: 22px;
    background: url(../img/insta-icon28x28.png) no-repeat; }
    .instargam-feed__title span {
      font-size: 18px; }

.row-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .row-gallery__item {
    height: 185px;
    width: 185px;
    padding: 7px;
    background-color: #fff; }
  .row-gallery__img {
    height: 100%;
    width: 100%; }
  @media (max-width: 410px) {
    .row-gallery {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .row-gallery__item {
        display: table;
        margin: 0 auto; } }
  @media (max-width: 584px) {
    .row-gallery {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }
  @media (max-width: 991px) {
    .row-gallery__item {
      margin-bottom: 20px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .row-gallery__item {
      width: 150px;
      height: 150px; } }

.breadcrumbs {
  margin: 32px 0; }
  .breadcrumbs:after {
    content: ' ';
    display: table;
    clear: both; }
  .breadcrumbs__item-wrap {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left; }
  .breadcrumbs__item {
    float: left;
    margin-right: 1px; }
    .breadcrumbs__item + .breadcrumbs__item:before {
      content: '»';
      color: #989898;
      vertical-align: middle; }
    .breadcrumbs__item:last-child .breadcrumbs__link {
      background-color: #faef03; }
  .breadcrumbs__prev {
    float: right; }
    .breadcrumbs__prev:before {
      display: inline-block;
      content: '«';
      color: #989898;
      padding-bottom: 3px;
      vertical-align: middle; }
  .breadcrumbs__link, .breadcrumbs__prev {
    display: inline-block;
    color: #989898;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 5px; }
    .breadcrumbs__link:hover, .breadcrumbs__link:focus, .breadcrumbs__prev:hover, .breadcrumbs__prev:focus {
      text-decoration: none;
      color: #000; }
  .breadcrumbs__arrow {
    font-size: 18px; }
  @media (max-width: 479px) {
    .breadcrumbs__prev {
      display: none; } }
  .breadcrumbs_margin_1 {
    margin: 25px 0; }

.breadcrumbs-layout {
  padding-left: 20px; }

.product-desc {
  font-family: 'Roboto',sans-serif; }
  .product-desc__title {
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0; }
  .product-desc__stars {
    display: inline-block;
    margin-right: 6px;
    width: 50px;
    height: 1px; }
  .product-desc__info {
    display: inline-block;
    color: #353535;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 13px; }
  .product-desc__price {
    color: #111;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    line-height: 21px;
    margin-top: 11px;
    text-transform: uppercase; }
  .product-desc__txt {
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 0; }
  .product-desc__inner-wrap:after {
    content: ' ';
    display: table;
    clear: both; }
  .product-desc__price {
    float: left; }
  .product-desc__code {
    float: right;
    margin-right: 19px; }
  .product-desc__p {
    color: #666669;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin: 0; }
  .product-desc__bold {
    color: #111;
    font-weight: 600; }
  .product-desc__hr {
    width: 390px;
    height: 1px;
    opacity: 0.1;
    background-color: #333;
    margin: 10px auto; }
  .product-desc__title-sub-1 {
    margin: 0;
    color: #353535;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase; }
  .product-desc__overview {
    margin: 17px 0; }
  .product-desc__item {
    margin: 15px 0 19px; }

.quantity {
  margin-top: 19px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Roboto',sans-serif; }
  .quantity:after {
    content: ' ';
    display: table;
    clear: both; }
  .quantity__item-left, .quantity__item-center, .quantity__item-right {
    float: left; }
  .quantity__item-left {
    width: 28.3%; }
  .quantity__item-center {
    width: 37.7%; }
  .quantity__item-right {
    width: 33.3%; }
  .quantity__title {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0; }

.counter {
  overflow: hidden; }
  .counter__item-int {
    float: left;
    text-align: center;
    width: 30px;
    height: 27px;
    border: 1px solid #efefef;
    line-height: 27px;
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #fff; }
  .counter__item-minus, .counter__item-plus {
    color: #9b9b9b;
    font-size: 16px;
    float: left;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    width: 10px; }
  .counter__item-plus {
    line-height: 27px;
    padding-left: 3px; }
  .counter__item-minus {
    line-height: 24px; }
  .counter_ib {
    display: inline-block; }

.desc-l, .desc-r {
  float: left; }

.desc-l {
  width: 45%;
  padding: 0 11px 0 22px; }
  @media (max-width: 767px) {
    .desc-l {
      float: none;
      width: 63%;
      margin: 0 auto;
      padding: 0; } }
  @media (max-width: 479px) {
    .desc-l {
      float: none;
      width: 88%;
      margin: 0 auto; } }

.desc-r {
  width: 55%;
  padding: 0 15px 0 31px; }
  @media (max-width: 767px) {
    .desc-r {
      float: none;
      width: 100%; } }

.product-cart {
  margin: 15px 0 42px; }

.row-buttons__item-wrap {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .row-buttons__item-wrap:after {
    content: ' ';
    display: table;
    clear: both; }

.row-buttons__item {
  float: left;
  padding: 0 6px;
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  background-color: #fff;
  cursor: pointer; }
  .row-buttons__item + .row-buttons__item {
    margin-left: 11px; }

.row-buttons_pos_1 {
  margin-top: 7px; }

.tabs {
  margin-bottom: 70px; }
  .tabs__inset-wrap {
    padding: 0;
    margin: 0 0 0 19px;
    overflow: hidden;
    list-style-type: none;
    width: 548px; }
  .tabs__inset {
    float: left;
    font-family: 'Roboto',sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 35px;
    padding: 0 16px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .tabs__inset:last-child {
      margin-right: 0; }
    .tabs__inset:hover, .tabs__inset:focus, .tabs__inset.active {
      background-color: #26d2fc; }
  .tabs__item {
    margin-top: -1px;
    padding: 0 13px 9px;
    font-family: Verdana;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    display: none;
    border: 1px solid #d6d4d4; }
  .tabs__text {
    margin: 12px 0;
    padding: 0; }
  @media (max-width: 578px) {
    .tabs__navigation {
      overflow: auto; }
    .tabs__inset-wrap {
      margin: 0; } }

.sort-options {
  padding: 0 10px; }
  .sort-options__item-container:after {
    content: ' ';
    display: table;
    clear: both; }
  .sort-options__item-1, .sort-options__item-2, .sort-options__item-3 {
    float: left; }
  .sort-options__item-2 {
    margin-left: 94px; }
  .sort-options__item-3 {
    margin-left: 27px; }
  .sort-options__item-4 {
    float: right; }
  .sort-options_margin_1 {
    margin-bottom: 30px; }
  @media (max-width: 1199px) {
    .sort-options {
      margin-bottom: 10px; }
      .sort-options__item-container + .sort-options__item-container {
        margin-top: 20px; }
      .sort-options__item-2 {
        float: right;
        margin: 0; }
      .sort-options__item-3 {
        margin: 0; }
      .sort-options__item-4 {
        float: right; } }
  @media (max-width: 370px) {
    .sort-options {
      margin-bottom: 10px; }
      .sort-options__item-2, .sort-options__item-4 {
        float: left;
        clear: both;
        margin-top: 10px; } }

.sort {
  font-family: 'Roboto',sans-serif; }
  .sort__title, .sort__text {
    color: #333;
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 6px; }
  .sort__item-container {
    width: 97px;
    line-height: 20px;
    border: 1px solid #d6d4d4;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: url("../img/select.jpg") 100% 77% no-repeat #fff;
    padding: 0 8px 0 5px;
    outline: none;
    color: #666669;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; }
    .sort__item-container::-ms-expand {
      display: none; }
    .sort__item-container_size_1 {
      width: 66px; }
  .sort__item {
    border: 0;
    background: none;
    color: #666669;
    font-size: 12px;
    font-weight: 400; }
  .sort__direction {
    display: inline-block;
    background: url("../img/arrow-up.png") no-repeat;
    width: 7px;
    height: 10px; }
  .sort__text {
    margin: 0 0 0 10px; }

.view {
  font-family: 'Roboto',sans-serif; }
  .view__title {
    color: #333;
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 14px; }
  .view__item {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
    .view__item + .view__item {
      margin-left: 14px; }
    .view__item_bg_1 {
      background: url("../img/view-thumbnail.png"); }
    .view__item_bg_2 {
      background: url("../img/view-list.png"); }

.pager {
  font-family: 'Roboto',sans-serif; }
  .pager__title {
    color: #333;
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 6px; }
  .pager__item-container {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle; }
  .pager__item {
    float: left;
    width: 20px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    height: 20px;
    cursor: pointer; }
    .pager__item + .pager__item {
      margin-left: 10px; }
    .pager__item.active {
      background-color: #26d2fc;
      color: #fff; }
    .pager__item_mix_1 {
      background: url("../img/arrow.png") 0 50% no-repeat;
      width: 10px; }

.order-steps {
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  margin-bottom: 27px; }
  .order-steps__item-container {
    counter-reset: myCount;
    overflow: hidden;
    padding: 0;
    margin: 0; }
  .order-steps__item {
    float: left;
    list-style: none;
    color: #aaa;
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 41px; }
    .order-steps__item.active {
      color: #ff0101; }
      .order-steps__item.active:before {
        border-color: #ff0101; }
    .order-steps__item:last-child {
      margin-right: 0; }
    .order-steps__item:before {
      display: inline-block;
      margin-right: 10px;
      counter-increment: myCount;
      content: counter(myCount);
      text-align: center;
      font-size: 18px;
      line-height: 27px;
      height: 30px;
      width: 30px;
      border: 1px solid #a7a7a7;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      vertical-align: 2px; }

.order-main {
  overflow: hidden; }
  @media (min-width: 1199px) {
    .order-main-l {
      float: left; } }
  @media (min-width: 1199px) {
    .order-main-r {
      float: right;
      padding-right: 15px; } }

.cart-table {
  width: 604px;
  font-family: 'Roboto',sans-serif; }
  .cart-table__name {
    white-space: nowrap;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid #e6e6e6; }
    .cart-table__name_mix_1 {
      text-align: left;
      font-style: italic; }
  .cart-table__title {
    color: #353535;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
    vertical-align: top; }
  .cart-table__text {
    max-width: 186px;
    padding: 0;
    margin: 0;
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px; }
  .cart-table__img {
    display: block;
    width: 70px;
    height: 110px;
    margin: 0 15px 0 5px; }
  .cart-table__price {
    white-space: nowrap; }
  .cart-table__item {
    text-align: center;
    vertical-align: top;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6; }
    .cart-table__item_mix_1 {
      padding-right: 22px;
      text-align: left; }
    .cart-table__item_size_1 {
      width: 80px; }
    .cart-table__item_size_2 {
      width: 117px; }
    .cart-table__item_size_3 {
      width: 73px; }
    .cart-table__item_size_4 {
      padding-left: 5px; }
    .cart-table__item_padding_1 {
      padding-top: 16px; }
    .cart-table__item_padding_2 {
      padding-top: 36px; }

@media (max-width: 615px) {
  .cart-table-layout {
    overflow: hidden;
    overflow-x: scroll;
    margin: 0 auto; } }

.review-cart {
  color: #fffefe;
  font-family: 'Roboto',sans-serif;
  background-color: #fb4d01;
  padding: 19px 20px 60px;
  width: 270px;
  margin: 0 auto; }
  .review-cart__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    text-align: center;
    margin-bottom: 50px; }
  .review-cart__item-layout {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .review-cart__item {
    overflow: hidden; }
    .review-cart__item + .review-cart__item {
      margin-top: 20px; }
    .review-cart__item:last-child {
      margin-bottom: 55px; }
    @media (min-width: 520px) and (max-width: 1199px) {
      .review-cart__item_adapt_r {
        float: right;
        width: 47%; } }
    @media (min-width: 520px) and (max-width: 1199px) {
      .review-cart__item_adapt_l {
        float: left;
        width: 47%; } }
  .review-cart__key {
    float: left;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase; }
    .review-cart__key_font_1 {
      font-size: 16px;
      font-weight: bold; }
  .review-cart__value {
    float: right;
    font-size: 14px;
    font-weight: 700; }
    .review-cart__value_font_1 {
      font-size: 16px;
      font-weight: bold; }
  @media (max-width: 1199px) {
    .review-cart {
      margin-bottom: 50px; } }
  @media (min-width: 520px) and (max-width: 1199px) {
    .review-cart {
      padding-bottom: 40px;
      width: 100%; }
      .review-cart__item_adapt_no-margin {
        margin: 0 !important; } }

.coupon-code {
  overflow: hidden;
  padding: 19px 23px 16px 19px; }
  .coupon-code-l {
    float: left; }
  .coupon-code-r {
    float: right; }
  .coupon-code__title {
    color: #333;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 0 0 8px; }
  .coupon-code__item {
    width: 241px;
    height: 35px;
    background-color: #fff;
    padding: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    color: #a8a8a8;
    font-family: 'Roboto',sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase; }
  .coupon-code__link-wrap {
    margin: 0;
    text-align: right; }
  .coupon-code__link {
    color: #333;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline; }
    .coupon-code__link:hover, .coupon-code__link:focus {
      color: #333; }
  @media (max-width: 500px) {
    .coupon-code-l, .coupon-code-r {
      display: table;
      margin: 0 auto;
      float: none; }
    .coupon-code-l {
      margin-bottom: 40px; }
    .coupon-code__title {
      text-align: center; } }

.social-black {
  padding: 0;
  margin: 10px 0 0;
  overflow: hidden;
  list-style-type: none; }
  .social-black__item {
    float: left;
    width: 15px;
    height: 15px; }
    .social-black__item + .social-black__item {
      margin-left: 17px; }
    .social-black__item_fb {
      background: url("../img/facebook-black.png") 50% 50% no-repeat; }
    .social-black__item_tw {
      background: url("../img/twitter-black.png") 50% 50% no-repeat; }
    .social-black__item_pint {
      background: url("../img/pinterest-black.png") 50% 50% no-repeat; }

.drop {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../img/drop.png") no-repeat; }

.like-layout {
  border-top: 1px solid #e7e7e7;
  padding-top: 60px; }

.member {
  font-family: 'Roboto',sans-serif;
  line-height: 16px;
  margin: 17px 0 0 8px; }
  .member__name {
    color: #333;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase; }
  .member__name-bold {
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
    text-transform: uppercase; }
    .member__name-bold_margin_1 {
      display: inline-block;
      margin-bottom: 6px; }
  .member__text {
    font-size: 12px;
    font-weight: 400; }
  .member__bold {
    font-size: 12px;
    font-weight: 700; }
  .member__opacity {
    font-size: 12px;
    color: #989898;
    font-weight: 700; }
  .member__list {
    margin: 15px 0 46px;
    padding-left: 26px; }

.cart-form {
  position: relative;
  padding: 19px 0;
  font-family: 'Roboto',sans-serif; }
  .cart-form__item-radio {
    vertical-align: -10%; }
  .cart-form__item-text {
    margin-bottom: 10px;
    height: 27px;
    width: 245px;
    padding: 0 5px;
    line-height: 27px;
    border: 1px solid #efefef;
    background-color: #fff; }
  .cart-form__type-radio {
    color: #555;
    font-size: 12px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase; }
  .cart-form__type-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    color: #353535; }
    .cart-form__type-text_req:after {
      content: '*';
      letter-spacing: 2px;
      color: #ff4a4a; }
  .cart-form_mix_1 {
    padding: 0;
    margin: 13px 0 0; }

.error {
  color: #ff4a4a;
  font-family: 'Roboto',sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  margin: 8px 0 0 4px; }
  .error:before {
    content: '*';
    letter-spacing: 2px; }
  .error_size_1 {
    height: 47px;
    overflow: hidden; }

.member-layout {
  margin-top: 70px;
  margin-bottom: 63px; }

.shop-info {
  border-top: 1px solid #e7e7e7;
  padding-top: 33px;
  margin-left: -15px;
  margin-right: -15px; }
  .shop-info__name {
    display: inline-block;
    color: #333;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    margin-bottom: 51px; }
  .shop-info__item {
    margin-left: 8px;
    height: 470px; }
    .shop-info__item_padding_1 {
      padding-top: 66px; }
  .shop-info:after {
    content: '';
    display: table;
    clear: both; }

.black-link {
  display: inline-block;
  color: #353535;
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
  text-decoration: underline; }
  .black-link:hover, .black-link:focus {
    color: #353535; }
  .black-link_mix_1 {
    width: 100%;
    text-align: right;
    margin-bottom: 10px; }

.bottom-social {
  height: 150px;
  margin-top: 55px; }
  .bottom-social__item {
    float: left;
    width: 33.3%;
    height: 100%;
    text-align: center; }
    .bottom-social__item:hover, .bottom-social__item:focus {
      opacity: 0.9; }
    .bottom-social__item_bg_1 {
      background-color: #3b5997; }
    .bottom-social__item_bg_2 {
      background-color: #3fccfd; }
    .bottom-social__item_bg_3 {
      background-color: #cb2027; }
  .bottom-social__icon {
    font-size: 62px;
    color: #fff;
    line-height: 150px; }

.footer {
  background-color: #373737;
  padding-top: 75px; }
  @media (max-width: 767px) {
    .footer {
      padding-top: 55px; } }

.feedback__title {
  padding-left: 10px;
  margin: 0 0 7px;
  color: #fff;
  font-family: Raleway,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px; }

.feedback__text {
  padding-left: 10px;
  margin: 0 0 20px;
  font-family: Roboto,sans-serif;
  color: #f8f8f8;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px; }
  .feedback__text_width_1 {
    width: 195px; }

.feedback__link {
  color: #faef03;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400; }
  .feedback__link:hover, .feedback__link:focus {
    color: #faef03;
    text-decoration: none; }

.feedback__contacts {
  padding-left: 10px;
  margin: 0 0 15px;
  color: #fff;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 10px; }
  .feedback__contacts span {
    margin-left: 18px; }

.feedback__form {
  margin-left: 10px; }

@media (max-width: 991px) {
  .feedback {
    margin-top: 20px; }
    .feedback__text, .feedback__link, .feedback__contacts, .feedback__title, .feedback__form {
      padding: 0;
      margin-left: 0; } }

@media (max-width: 767px) {
  .feedback {
    margin-top: 50px; } }

.input-1 {
  width: 250px;
  height: 30px;
  padding: 0 7px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px; }
  .input-1_margin_1 {
    margin-bottom: 10px; }
  .input-1_margin_2 {
    margin-bottom: 28px; }

.input-check-1 {
  display: none; }
  .input-check-1:checked + label:before {
    background: url("../img/check.png") 50% 50% no-repeat #26d2fc; }

.label-1 {
  display: inline-block;
  color: #333;
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 2px 3px; }
  .label-1_req:after {
    content: '*';
    letter-spacing: 2px; }
  .label-1_checkbox {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 0; }
    .label-1_checkbox:before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      vertical-align: -10px;
      margin-right: 12px;
      background-color: #26d2fc;
      cursor: pointer; }

.menu-1 {
  padding-left: 27px; }
  .menu-1__title {
    margin: 0 0 27px;
    color: #fff;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    line-height: 13px;
    font-weight: 700; }
  .menu-1__item-layout {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .menu-1__link {
    display: block;
    color: #fff;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; }
    .menu-1__link:hover, .menu-1__link:focus {
      color: #fff;
      opacity: 0.8;
      text-decoration: none; }
  @media (max-width: 991px) {
    .menu-1 {
      padding: 0; } }
  @media (max-width: 767px) {
    .menu-1__title {
      margin-bottom: 5px;
      font-size: 14px; }
    .menu-1__item {
      display: inline-block;
      margin-right: 10px; }
    .menu-1__item-layout {
      margin-bottom: 25px; } }

.form-1 {
  overflow: hidden; }
  .form-1__item {
    border: 0;
    padding: 0; }
  .form-1__item {
    float: left;
    height: 100%; }
  .form-1__text {
    padding-left: 23px;
    color: #333;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #fff51f; }
    .form-1__text_wdh_1 {
      width: 180px; }
  .form-1__submit {
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #000; }
    .form-1__submit_wdh_1 {
      width: 70px; }
  .form-1_hgt_1 {
    height: 30px; }

.payment {
  overflow: hidden;
  margin-top: 45px; }
  .payment__item-container {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .payment__item {
    float: left;
    width: 36px;
    height: 22px;
    margin-right: 10px; }
    .payment__item:last-child {
      margin-right: 0; }
    .payment__item_am-ex {
      background: url(../img/aex.jpg) no-repeat; }
    .payment__item_mast-crt {
      background: url(../img/mastercard.jpg) no-repeat; }
    .payment__item_maestro {
      background: url(../img/maestero.jpg) no-repeat; }
    .payment__item_pp {
      background: url(../img/paypal.jpg) no-repeat; }
    .payment__item_disc {
      background: url(../img/discover.jpg) no-repeat; }
    .payment__item_visa {
      background: url(../img/visa_straight.jpg) no-repeat; }

.footer-spike {
  background-color: #333;
  overflow: hidden;
  padding: 20px 0 14px;
  margin-top: 64px; }
  .footer-spike__copy {
    color: #dad9d9;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px; }
  @media (max-width: 767px) {
    .footer-spike {
      margin-top: 50px; } }
