a:focus, input:focus {
  outline: none; }

html, body {
  height: 100%;
  margin: 0; }

body {
  background-color: #f8f8f8; }

.wrap {
  min-height: 100%; }

.top-social {
  float: right;
  position: relative;
  margin: 50px 22px 0 0;
  z-index: 2; }
  .top-social__facebook {
    background: url("../img/sprite-social.png") 25% 5% no-repeat; }
  .top-social__twitter {
    background: url("../img/sprite-social.png") 48% 72% no-repeat; }
  .top-social__youtube {
    background: url("../img/sprite-social.png") 48% 95% no-repeat; }
  .top-social__pinterest {
    background: url("../img/sprite-social.png") 37% 50% no-repeat; }
  .top-social__instagram {
    background: url("../img/sprite-social.png") 53% 28% no-repeat; }
  .top-social__link {
    float: left;
    min-width: 16px;
    height: 16px;
    margin-right: 10px; }

.toggle-lang {
  float: left;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  line-height: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .toggle-lang__ar-d {
    color: #fff;
    margin-left: 5px;
    font-size: 12px; }
  .toggle-lang__promo {
    color: #fff; }
  .toggle-lang__menu {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none; }
  .toggle-lang__link {
    color: #fff; }
    .toggle-lang__link:hover, .toggle-lang__link:focus {
      color: #fff;
      text-decoration: underline; }

.logo {
  margin: 24px 0 42px 64px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 2; }

.header-indent {
  max-height: 512px; }
  .header-indent__left-col {
    z-index: 2; }

.basket {
  margin-bottom: 9px; }
  .basket__header {
    overflow: hidden;
    height: 27px;
    background-color: #f8f8f8; }
  .basket__log, .basket__list {
    text-transform: uppercase;
    color: #fb4d01;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 27px; }
    .basket__log:hover, .basket__log:focus, .basket__list:hover, .basket__list:focus {
      text-decoration: none;
      color: #fb4d01;
      opacity: 0.8; }
  .basket__log {
    float: left;
    margin-left: 33px; }
  .basket__list {
    float: right;
    margin-right: 31px; }
  .basket__main {
    background-color: #fb4d01; }
  .basket__main-left {
    float: left;
    width: 79.2%;
    padding: 10px 5px 12px 26px; }
  .basket__main-right {
    float: right;
    width: 19.2%;
    text-align: center;
    padding-top: 18px; }
  .basket__edit {
    display: block;
    color: #333;
    font-family: Raleway,sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 20px;
    background: url("../img/cross.png") 50% 0 no-repeat; }
    .basket__edit:hover, .basket__edit:focus {
      text-decoration: none;
      color: #333;
      opacity: 0.8; }
  .basket__cart-check-wrap {
    clear: both;
    overflow: hidden; }
  .basket__view, .basket__checkout {
    float: left;
    width: 50%;
    text-align: center;
    height: 27px;
    line-height: 27px;
    background-color: #ee4a02;
    color: #fff;
    font-family: Raleway,sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer; }
    .basket__view:hover, .basket__view:focus, .basket__checkout:hover, .basket__checkout:focus {
      background-color: #e24602; }

.truck__bg {
  display: inline-block;
  width: 41px;
  height: 37px;
  background: url("../img/icon-cart.png") 0 3px no-repeat;
  margin-right: 10px; }
  .truck__bg:hover, .truck__bg:focus {
    opacity: 0.8; }

.truck__price-wrap {
  display: inline-block; }

.truck__price {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600; }

.truck__item-in-bask {
  display: block;
  color: #faef03;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  line-height: 9px; }
  .truck__item-in-bask:hover, .truck__item-in-bask:focus {
    text-decoration: none;
    color: #faef03;
    opacity: 0.8; }

.search__form {
  overflow: hidden;
  height: 34px; }

.search__text, .search__submit, .search__x {
  float: left; }

.search__text {
  width: 78%;
  height: 100%;
  color: #0c0c0c;
  font-family: Raleway,sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 0 0 13px;
  border: 0;
  background-color: #e9e9e9; }

.search__submit {
  width: 13%;
  border: 0;
  height: 100%;
  padding: 0;
  background: url("../img/search-icon.png") 50% 50% #333 no-repeat; }
  .search__submit:hover, .search__submit:focus {
    opacity: 0.9; }

.search__x {
  height: 100%;
  width: 9%;
  cursor: pointer;
  background: url("../img/x.png") 47% 50% #e9e9e9 no-repeat; }

.header-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1; }
  .header-bg__main {
    max-width: 1500px;
    margin: 0 auto; }

.carousel-1__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  margin: 0; }

.carousel-1__desc {
  position: absolute;
  width: 313px;
  left: 61%;
  top: 35%;
  color: #fff51f;
  font-family: Raleway,sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

.carousel-1__text {
  margin: 10px 0 55px; }

.owl-nav {
  position: absolute;
  top: 314px;
  right: 166px; }

.owl-prev, .owl-next {
  width: 30px;
  height: 50px;
  background-color: #fff;
  float: left;
  text-align: center; }
  .owl-prev:hover, .owl-prev:focus, .owl-next:hover, .owl-next:focus {
    background-color: #fbde06; }

.owl__nav-item {
  font-weight: 900;
  font-size: 16px;
  line-height: 50px; }

.owl-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 8.5%; }

.owl-dot {
  display: inline-block;
  height: 4px;
  width: 40px;
  margin-right: 10px;
  background-color: #faef03; }
  .owl-dot:last-child {
    margin-right: 0; }
  .owl-dot.active {
    background-color: #fb4d01; }

.button-1 {
  display: inline-block;
  color: #000;
  font-family: Raleway,sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 49px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  background-color: #fff51f;
  min-width: 124px; }
  .button-1:hover, .button-1:focus {
    text-decoration: none;
    color: #000;
    background-color: #ebe100; }

.banner-1 {
  background-color: #fff51f;
  min-height: 300px;
  padding: 82px 30px 82px 25px;
  margin-bottom: 44px;
  color: #333;
  font-family: Raleway,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px; }
  .banner-1__title {
    margin: 0 0 24px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase; }
  .banner-1__text {
    margin: 0; }

.central-part {
  z-index: 2;
  position: relative; }

.products {
  background-color: #f8f8f8;
  padding-top: 31px; }
  .products__title {
    display: inline-block;
    color: #707070;
    font-family: Roboto,sans-serif;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 0 31px 25px; }
  .products__nav {
    float: right;
    margin-right: 20px; }
  .products__prev, .products__next {
    display: inline-block;
    cursor: pointer;
    text-align: center; }
  .products__prev-icon, .products__next-icon {
    font-size: 20px;
    line-height: 30px;
    width: 25px; }
  .products__row {
    margin-bottom: 30px; }
    .products__row:last-child {
      margin-bottom: 0; }

.product {
  height: 320px;
  padding: 10px;
  background-color: #fff; }
  .product__text {
    padding: 15px 10px 5px 12px; }
  .product__title {
    display: inline;
    color: #333;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    line-height: 18px;
    margin: 0; }
  .product__price-layout {
    float: right; }
  .product__price, .product__price-old {
    margin: 0;
    font-family: Roboto,sans-serif;
    font-weight: 900;
    font-style: italic; }
  .product__price {
    color: #333;
    font-size: 18px; }
  .product__price-old {
    color: #e24602;
    font-size: 14px;
    text-decoration: line-through;
    line-height: 12px; }
