@import 'vars';
@import 'mixins';

a:focus,input:focus {
	outline: none;
}

.top-social {
	float: right;
	position: relative;
	margin: 50px 22px 0 0;
	z-index: 2;
	&__facebook {
		background: url('../img/sprite-social.png') 25% 5% no-repeat;
	}
	&__twitter {
		background: url('../img/sprite-social.png') 48% 72% no-repeat;
	}
	&__youtube {
		background: url('../img/sprite-social.png') 48% 95% no-repeat;
	}
	&__pinterest {
		background: url('../img/sprite-social.png') 37% 50% no-repeat;
	}
	&__instagram {
		background: url('../img/sprite-social.png') 53% 28% no-repeat;
	}
	&__link {
		float: left;
		min-width: 16px;
		height: 16px;
		margin-right: 10px;
	}
	//mods
}
.toggle-lang{
	float: left;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	cursor: pointer;
	line-height: 16px;
	user-select: none;
	&__ar-d {
		color: #fff;
		margin-left: 5px;
		font-size: 12px;
	}
	&__promo {
		color: #fff;
	}
	&__menu {
		margin: 0;
		padding: 0;
		position: absolute;
		list-style-type: none;
	}
	&__link {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.logo {
	margin: 24px 0 42px 64px;
	user-select: none;
	position: relative;
	z-index: 2;
}

.header-indent {
	max-height: 512px;
	&__left-col {
		z-index: 2;
	}
}

.basket {
	margin-bottom: 9px;
	&__header {
		overflow: hidden;
		height: 27px;
		background-color: #f8f8f8;
	}
	&__log,&__list {
		text-transform: uppercase;
		color: #fb4d01;
		font-family: 'Raleway', sans-serif;
		font-size: 12px;
		font-weight: 300;
		line-height: 27px;
		&:hover {
			text-decoration: none;
			color: #fb4d01;
			opacity: 0.8;
		}
	}
	&__log {
		float: left;
		margin-left: 33px;
	}
	&__list {
		float: right;
		margin-right: 31px;
	}
	&__main {
		background-color: #fb4d01;
	}
	&__main-left {
		float: left;
		width: 79.2%;
		padding: 10px 5px 12px 26px;
	}
	&__main-right {
		float: right;
		width: 19.2%;
		text-align: center;
		padding-top: 18px;
	}
	&__edit {
		display: block;
		color: #333;
		font-family: Raleway,sans-serif;
		font-size: 10px;
		font-weight: 300;
		text-transform: uppercase;
		padding-top: 20px;
		background: url('../img/cross.png') 50% 0 no-repeat;
		&:hover {
			text-decoration: none;
			color: #333;
			opacity: 0.8;
		}
	}
	&__cart-check-wrap {
		clear: both;
		overflow: hidden;
	}
	&__view,&__checkout {
		float: left;
		width: 50%;
		text-align: center;
		height: 27px;
		line-height: 27px;
		background-color: #ee4a02;
		color: #fff;
		font-family: Raleway,sans-serif;
		font-size: 11px;
		font-weight: 400;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			background-color: #e24602;
		}
	}

}

.truck {
	&__bg {
		display: inline-block;
		width: 41px;
		height: 37px;
		background: url('../img/icon-cart.png') 0 3px no-repeat;
		margin-right: 10px;
		&:hover {
			opacity: 0.8;
		}
	}
	&__price-wrap {
		display: inline-block;
	}
	&__price {
		color: #fff;
		font-family: Raleway;
		font-size: 18px;
		font-weight: 600;
	}
	&__item-in-bask {
		display: block;
		color: #faef03;
		font-family: Raleway;
		font-size: 12px;
		font-weight: 400;
		line-height: 9px;
		&:hover {
			text-decoration: none;
			color: #faef03;
			opacity: 0.8;
		}
	}
}

.search {
	&__form {
		overflow: hidden;
		height: 34px;
	}
	&__text,&__submit,&__x {
		float: left;
	}
	&__text {
		width: 78%;
		height: 100%;
		color: #0c0c0c;
		font-family: Raleway,sans-serif;
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 0 0 0 13px;
		border: 0;
		background-color: #e9e9e9
	}
	&__submit {
		width: 13%;
		border: 0;
		height: 100%;
		padding: 0;
		background: url('../img/search-icon.png') 50% 50% #333 no-repeat;
		&:hover {
			opacity: 0.9;
		}
	}
	&__x {
		height: 100%;
		width: 9%;
		cursor: pointer;
		background: url('../img/x.png') 47% 50% #e9e9e9 no-repeat;
	}
}

.header-bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
	&__main {
		max-width: 1500px;
		margin: 0 auto;
	}
}

.carousel-1 {
	&__title {
		font-size: 48px;
		font-weight: 700;
		line-height: 34px;
		text-transform: uppercase;
		margin: 0;
	}
	&__desc {
		position: absolute;
		width: 313px;
		left: 61%;
		top: 35%;
		color: #fff51f;
		font-family: Raleway,sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
	}
	&__text {
		margin: 10px 0 55px;
	}
}

.owl {
	&-nav {
		position: absolute;
		top: 314px;
		right: 166px;
	}
	&-prev,&-next {
		width: 30px;
		height: 50px;
		background-color: #fff;
		float: left;
		text-align: center;
		&:hover {
			background-color: #fbde06;
		}
	}
	&__nav-item {
		font-weight: 900;
		font-size: 16px;
		line-height: 50px;
	}
	&-dots {
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 8.5%;
	}
	&-dot {
		display: inline-block;
		height: 4px;
		width: 40px;
		margin-right: 10px;
		background-color: #faef03;
		&:last-child {
			margin-right: 0;
		}
		&.active {
			background-color: #fb4d01;
		}
	}
}

.button {
	display: inline-block;
	color: #000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
	//mods
	&_font_1 {
		font-family: Raleway,sans-serif;
		font-size: 14px;
		font-weight: 800;
		line-height: 10px;
		text-transform: uppercase;
		padding: 20px 30px 19px 28px;
	}
	&_bg_1 {
		background-color: #fff51f;
		&:hover {
			background-color: darken(#fff51f,10%);
		}
	}
	&_size_1 {
		min-width: 124px;
	}
}

.banner-1 {
	background-color: #fff51f;
	min-height: 300px;
	padding: 82px 30px 82px 25px;
	margin-bottom: 44px;
	color: #333;
	font-family: Raleway,sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 14px;
	&__title {
		margin: 0 0 24px;
		font-size: 30px;
		line-height: 30px;
		text-transform: uppercase;
	}
	&__text {
		margin: 0;
	}
}