@import 'vars';
@import 'mixins';

a:focus,input:focus,button:focus {
	outline: none;
}

html,body {
	height: 100%;
	margin: 0;
}
body {
	background-color: #f8f8f8
}

@media (max-width: 767px) {
	.header{
		position: absolute;
		left: 0;
		right: 0;
	}
}
.wrap {
	min-height: 100%;
	margin-bottom: -359px;
}
.main {
	padding-bottom: 359px;
}

.social-1 {
	float: right;
	position: relative;
	z-index: 2;
	&:after {
		content: '.';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	&__facebook {
		background: url('../img/sprite-social.png') 25% 5% no-repeat;
	}
	&__twitter {
		background: url('../img/sprite-social.png') 48% 72% no-repeat;
	}
	&__youtube {
		background: url('../img/sprite-social.png') 48% 95% no-repeat;
	}
	&__pinterest {
		background: url('../img/sprite-social.png') 37% 50% no-repeat;
	}
	&__instagram {
		background: url('../img/sprite-social.png') 53% 28% no-repeat;
	}
	&__google {
		background: url('../img/google-plus.png') 50% 50% no-repeat;
	}
	&__rss{
		background: url('../img/rss.png') 50% 50% no-repeat;
	}
	&__link {
		float: left;
		min-width: 16px;
		height: 16px;
		margin-right: 10px;
	}
	//mods
	&_pos_top {
		margin: 50px 22px 0 0;
	}
	&_pos_bottom{

	}
	@media (max-width: 479px) {
		margin: 15px 0 0 0;
	}
	@media (max-width: 991px) {
		&_pos_bottom{
			float: none;
			display: table;
			margin: 0 auto;
		}
	}
}
.toggle-lang{
	float: left;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	cursor: pointer;
	line-height: 16px;
	user-select: none;
	&__ar-d {
		color: #fff;
		margin-left: 5px;
		font-size: 12px;
	}
	&__promo {
		color: #fff;
	}
	&__menu {
		margin: 0;
		padding: 0;
		position: absolute;
		list-style-type: none;
	}
	&__link {
		color: #fff;
		&:hover,&:focus {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.logo {
	margin: 24px 0 42px 64px;
	user-select: none;
	position: relative;
	z-index: 2;
	@media (max-width: 479px) {
		margin: 0;
	}
}

.header-indent {
	min-height: 506px;
	&__left-col {
		z-index: 2;
	}
	@media (max-width: 1199px) {
		min-height: 192px;
	}
	@media (max-width: 767px) {
		min-height: auto;
	}
}

.basket {
	margin-bottom: 9px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	&__header {
		overflow: hidden;
		height: 27px;
		background-color: #f8f8f8;
	}
	&__log,&__list {
		color: #fb4d01;
		font-size: 12px;
		font-weight: 300;
		line-height: 27px;
		&:hover,&:focus {
			text-decoration: none;
			color: #fb4d01;
			opacity: 0.8;
		}
	}
	&__log {
		float: left;
		margin-left: 33px;
	}
	&__list {
		float: right;
		margin-right: 31px;
	}
	&__main {
		background-color: #fb4d01;
	}
	&__main-left {
		float: left;
		width: 79.2%;
		padding: 10px 5px 12px 26px;
	}
	&__main-right {
		float: right;
		width: 19.2%;
		text-align: center;
		padding-top: 18px;
	}
	&__edit {
		display: block;
		color: #333;
		font-size: 10px;
		font-weight: 300;
		padding-top: 20px;
		background: url('../img/cross.png') 50% 0 no-repeat;
		&:hover,&:focus {
			text-decoration: none;
			color: #333;
			opacity: 0.8;
		}
	}
	&__cart-check-wrap {
		clear: both;
		overflow: hidden;
	}
	&__view,&__checkout {
		float: left;
		width: 50%;
		text-align: center;
		height: 27px;
		line-height: 27px;
		background-color: #ee4a02;
		color: #fff;
		font-size: 11px;
		font-weight: 400;
		cursor: pointer;
		&:hover,&:focus {
			background-color: #e24602;
		}
	}

}

.truck {
	font-family: 'Raleway',sans-serif;
	text-transform: lowercase;
	&__bg {
		display: inline-block;
		width: 41px;
		height: 37px;
		background: url('../img/icon-cart.png') 0 3px no-repeat;
		margin-right: 10px;
		&:hover,&:focus {
			opacity: 0.8;
		}
	}
	&__price-wrap {
		display: inline-block;
	}
	&__price {
		color: #fff;
		font-size: 18px;
		font-weight: 600;
	}
	&__item-in-bask {
		display: block;
		color: #faef03;
		font-size: 12px;
		font-weight: 400;
		line-height: 9px;
		&:hover,&:focus {
			text-decoration: none;
			color: #faef03;
			opacity: 0.8;
		}
	}
}

.search {
	font-family: Raleway,sans-serif;
	text-transform: uppercase;
	&__form {
		overflow: hidden;
		height: 34px;
	}
	&__text,&__submit,&__x {
		float: left;
	}
	&__text {
		width: 78%;
		height: 100%;
		color: #0c0c0c;
		font-size: 10px;
		font-weight: 400;
		padding: 0 0 0 13px;
		border: 0;
		background-color: #e9e9e9
	}
	&__submit {
		width: 13%;
		border: 0;
		height: 100%;
		padding: 0;
		background: url('../img/search-icon.png') 50% 50% #333 no-repeat;
		&:hover,&:focus {
			opacity: 0.9;
		}
	}
	&__x {
		height: 100%;
		width: 9%;
		cursor: pointer;
		background: url('../img/x.png') 47% 50% #e9e9e9 no-repeat;
	}
}

.header-bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
	&__main {
		max-width: 1500px;
		margin: 0 auto;
	}
	@media (max-width: 767px) {
		position: static;
		margin-bottom: -10px;
	}
}

.carousel-1 {
	font-family: Raleway,sans-serif;
	&__title {
		font-size: 48px;
		font-weight: 700;
		line-height: 34px;
		text-transform: uppercase;
		margin: 0;
	}
	&__desc {
		position: absolute;
		width: 313px;
		right: 18%;
		top: 35%;
		color: #fff51f;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
	}
	&__text {
		margin: 10px 0 55px;
	}
	@media (max-width: 1199px) {
		&__title {
			font-size: 32px;
		}
		&__desc {
			font-size: 14px;
			width: 290px;
			right: 20
		}
		&__text {
			margin-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		&__desc {
			display: none;
		}
	}
}

.owl {
	&-nav {
		position: absolute;
		right: 11%;
		top: 45%;
	}
	&-prev,&-next {
		width: 30px;
		height: 50px;
		background-color: #fff;
		float: left;
		text-align: center;
		&:hover,&:focus {
			background-color: #fbde06;
		}
	}
	&__nav-item {
		font-weight: 900;
		font-size: 16px;
		line-height: 50px;
	}
	&-dots {
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 8.5%;
	}
	&-dot {
		display: inline-block;
		height: 4px;
		width: 40px;
		margin-right: 10px;
		background-color: #faef03;
		&:last-child {
			margin-right: 0;
		}
		&.active {
			background-color: #fb4d01;
		}
	}
	@media (max-width: 1199px) {
		&-dots {
			bottom: 2%;
		}
	}
	@media (max-width: 991px) {
		&-dots { 
			display: none!important;
		}
	}
}

.button-1 {
	display: inline-block;
	color: #000;
	font-family: Raleway,sans-serif;
	font-size: 14px;
	font-weight: 800;
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 10px;
	background-color: #fff51f;
	min-width: 124px;
	&:hover,&:focus {
		text-decoration: none;
		color: #000;
		background-color: darken(#fff51f,10%);
	}
}

// banners begin

.banner-1 {
	background-color: #fff51f;
	min-height: 300px;
	padding: 77px 30px 82px 25px;
	margin-bottom: 20px;
	color: #333;
	font-family: Raleway,sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 14px;
	&__title {
		margin: 0 0 20px;
		font-size: 30px;
		line-height: 30px;
		text-transform: uppercase;
	}
	&__text {
		margin: 0;
	}
	@media (max-width: 991px) {
		display: none;
	}
}

.banner-2 {
	height: 300px;
	background-color: #e0e0e0;
	position: relative;
	&__img {
		width: 100%;
		height: 100%;
	}
	&__title {
		position: absolute;
		top: 34%;
		right: 7%;
		width: 109px;
		color: #333;
		font-family: Raleway,sans-serif;
		font-size: 36px;
		font-weight: 800;
		line-height: 36px;
		text-transform: uppercase;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		height: 357px;
	}
	@media (min-width: 436px) and (max-width: 767px) {
		width: 400px;
		height: 444px;
		display: table;
		margin: 0 auto;
	}
	@media (max-width: 435px) {
		width: auto;
		height: auto;
	}
}
// end banners

// widgets begin

.widget-1 {
	padding: 22px 30px 27px;
	font-family: Roboto,sans-serif;
	background-color: #fff;
	&__title {
		color: #000;
		font-size: 24px;
		font-weight: 900;
		font-style: italic;
		margin: 0 0 20px;
	}
	&__item-layout {
		margin: 0;
		padding: 0;
		list-style-type: none;
		overflow: hidden;
		// mods
		&_pos_1 {
			margin: 0 -8px -8px 0;
		}
	}
	&__layout {
		
		overflow: hidden;
		transition: 0.3s;
		// mods
		&_hgt_1 {
			max-height: 256px;
		}
		&_hgt_2 {
			max-height: 252px;
		}
	}
	&__item {
		font-weight: 400;
		// mods
		&_tags {
			float: left;
			margin: 0 8px 8px 0;
		}
		&_articles {

		}
	}
	&__link {
		display: block;
		&_tags {
			color: #333;
			font-size: 14px;
			line-height: 30px;
			padding: 0 11px;
			background-color: #e9e9e9;
			transition: 0.2s;
			&:hover,&:focus {
				background-color: #faef03;
			}
		}
		&_articles {
			color: #555;
			font-size: 14px;
			line-height: 28px;
		}
		&:hover,&:focus {
			color: inherit;
			text-decoration: none;
		}
	}
	&__view {
		color: #000;
		font-size: 14px;
		font-family: Roboto;
		font-weight: 900;
		font-style: italic;
		display: inline-block;
		margin-top: 16px;
		cursor: pointer;
		user-select:none;
		&:hover,&:focus {
			text-decoration: none;
			color: #000;
		}
	}
}

// widgets end
.central-part {
	z-index: 2;
	position: relative;
}

.products {
	background-color: #f8f8f8;
	padding-top: 23px;
	margin-bottom: 46px;
	font-family: Roboto,sans-serif;
	margin-bottom: 15px;
	&__title {
		display: inline-block;
		color: #707070;
		font-size: 22px;
		font-weight: 900;
		font-style: italic;
		text-transform: uppercase;
		margin: 0 0 23px 25px;
	}
	&__nav {
		float: right;
		margin-right: 25px;
	}
	&__prev,&__next {
		display: inline-block;
		cursor: pointer;
		text-align: center;
	}
	&__prev-icon,&__next-icon {
		font-size: 20px;
		line-height: 30px;
		width: 23px;
	}
	&_margin-1 {
		margin-bottom: 54px;
	}
	&_no-margin {
		margin-bottom: 0;
	}

}

.product {
	display: table;
	margin: 0 auto;
	height: 320px;
	padding: 10px;
	background-color: #fff;
	font-family: Roboto,sans-serif;
	&__link {
		display: block;
		height: 100%;
		&:hover,&:focus {
			text-decoration: none;
		}
	}
	&__img {
		height: 100%;
	}
	&__img-wrap {
		width: 250px;
		height: 235px;
		@media (min-width: 480px) and (max-width: 570px) {
			width: 180px;
			height: 169px;
		}
	}
	&__text {
		overflow: hidden;
		padding: 15px 10px 5px 12px;
	}
	&__title {
		display: inline;
		color: #333;
		font-size: 14px;
		font-weight: 900;
		font-style: italic;
		line-height: 18px;
		margin: 0;
		@media (min-width: 480px) and (max-width: 570px) {
			font-size: 11px;
		}
	}
	&__price-layout {
		float: right;
	}
	&__price,&__price-old {
		margin: 0;
		font-weight: 900;
		font-style: italic;
	}
	&__price {
		color: #333;
		font-size: 18px;
		@media (min-width: 480px) and (max-width: 570px) {
			font-size: 12px;
		}
	}
	&__price-old {
		color: #e24602;
		font-size: 14px;
		text-decoration: line-through;
		line-height: 12px;
		@media (min-width: 480px) and (max-width: 570px) {
			font-size: 11px;
		}
	}
}

.sidebar {
	&__item {
		margin-bottom: 30px;
	}
	@media (min-width: 991px) {
		&__d-table {
			display: table;
			margin: 0;
		}
		&__header-g,&__row-g,&__footer-g {
			float: none;
		} 
		&__header-g {
			display: table-header-group;
		}
		&__row-g {
			display: table-row-group;
		}
		&__footer-g {
			display: table-footer-group;
		}
	}
}

.nav-menu {
	text-transform: uppercase;
	font-family: 'Roboto',sans-serif;
	background-color: #26d2fc;
	&:after{
	    content: ' ';
	    display: table;
	    clear: both;
	}
	&__title {
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		line-height: 10px;
		background-color: #333;
		margin: 0;
		padding: 32px 10px 24px 42px;
	}
	&__item-container {
		padding: 4px 0 0 0;
		margin: 0;
		list-style-type: none;
	}
	&__item {
		position: relative;
		&:hover,&:focus,&.active {
			background-color: #333;
			.nav-menu__link {
				color: #fff;
			}
		}
	}
	&__link {
		display: block;
		padding-left: 40px;
		font-size: 14px;
		font-weight: 900;
		line-height: 36px;
		color: #000;
		&:hover,&:focus {
			text-decoration: none;
		}
	}
	@media (max-width: 991px) {
		&__item-container {
			display: none;
		}
		&__title {
			padding-top: 24px;
			padding-bottom: 24px;
			font-size: 18px;
		}
	}
}

.bum {
	float: left;
	padding: 9px 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: transparent;
	&__icon {
		display: block; 
		width: 22px;
	    height: 3px;
	    border-radius: 3px;
		background-color: #ddd;
	}
	&__icon+&__icon {
		margin-top: 4px;
	}
	&:hover,&:focus {
		background-color: #ddd;
		.bum__icon {
			background-color: #888;
		}
	}
	// mods
	&_pos_1 {
		margin: 10px 18px 10px 12px;
	}
	@media (min-width: 992px) {
		display: none;
	}
}

.drop-menu {
	padding: 0 0 0 27px;
	background-color: #75e3fe;
	list-style-type: square;
	font-family: 'Roboto',sans-serif;
	text-transform: uppercase;
	display: none;
	&__item {
		position: relative;
		white-space: nowrap;
		padding-right: 40px;
		// mods
		&_drop {
			background: url('../img/ar-r.png') 87% 50% no-repeat;
		}
	}
	&__link {
		color: #000;
		font-size: 14px;
		font-weight: 900;
		line-height: 36px;
		width: 100%;
		display: block;
		&:hover,&:focus {
			text-decoration: none;
			color: #333;
		}
	}
	// mods
	&_pos_1 {
		position: absolute;
		top: 0;
		left: 100%;
		z-index: 2;
	}
	&_level_2 {
		background-color: #81e6ff;
		.drop-menu__link {
			line-height: 33px;
		}
		.drop-menu__item {
			background: none;
			padding-right: 20px;
		}
	}
	@media (max-width: 991px) {
		position: static;
		padding-left: 38px;
		&__item {
			background: none;
		}
		&_level_2 {
			background-color: transparent;
		}
	}
}

.adaptive-1 {
	float: left;
	@media (max-width: 991px) {
		float: none;
	}
}
.adaptive-2 {
	float: right;

	@media (max-width: 991px) {
		float: none;
	}
}
.i-adaptive {
	overflow: hidden;
}

.product-layout {
	margin-bottom: 30px;
	@media (max-width: 479px) {
		float: none;
		width: 100%;
	}
	
}

.brand {
	height: 160px;
	background-color: #fff;;
	&__item {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.instargam-feed {
	padding: 51px 0 60px;
	background-color: #eaeaea;
	text-align: center;
	&__title {
		display: inline-block;
		margin: 0 0 26px;
		padding-left: 34px;
		font-family: Roboto;
		font-weight: 900;
		font-style: italic;
		font-size: 22px;
		background: url(../img/insta-icon28x28.png) no-repeat;
		span {
			font-size: 18px;
		}
	}
}

.row-gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	&__item {
		height: 185px;
		width: 185px;
		padding: 7px;
		background-color: #fff;
	}
	&__img {
		height: 100%;
		width: 100%;
	}
	@media (max-width: 410px) {
		flex-direction: column;
		&__item {
			display: table;
			margin: 0 auto;
		}
	}
	@media (max-width: 584px) {
		justify-content: space-around;
	}
	@media (max-width: 991px) {
		&__item {
			margin-bottom: 20px;
		}
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		&__item {
			width: 150px;
			height: 150px;
		}
	}
}

.bottom-social {
	height: 150px;
	&__item {
		float: left;
		width: 33.3%;
		height: 100%;
		text-align: center;
		&:hover,&:focus {
			opacity: 0.9;
		}
		// mods
		&_bg_1 {
			background-color: #3b5997;
		}
		&_bg_2 {
			background-color: #3fccfd;
		}
		&_bg_3 {
			background-color: #cb2027;
		}
	}
	&__icon {
		font-size: 62px;
		color: #fff;
		line-height: 150px;
	}
}

.footer {
	background-color: #373737;
	padding-top: 75px;
	@media (max-width: 767px) {
		padding-top: 55px;
	}
}

.feedback {
	&__title {
		padding-left: 10px;
		margin: 0 0 7px;
		color: #fff;
		font-family: Raleway,sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 13px;
	}
	&__text {
		padding-left: 10px;
		margin: 0 0 20px;
		font-family: Roboto,sans-serif;
		color: #f8f8f8;
		font-size: 12px;
		font-weight: 400;
		line-height: 12px;
		// mods
		&_width_1 {
			width: 195px;
		}
	}
	&__link {
		color: #faef03;
		font-family: Roboto,sans-serif;
		font-size: 14px;
		font-weight: 400;
		&:hover,&:focus {
			color: #faef03;
			text-decoration: none;
		}
	}
	&__contacts {
		padding-left: 10px;
		margin: 0 0 15px;
		color: #fff;
		font-family: Roboto,sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 10px;
		span {
			margin-left: 18px;
		}
	}
	&__form {
		margin-left: 10px;
	}
	@media (max-width: 991px) {
		margin-top: 20px;
		&__text,&__link,&__contacts,&__title,&__form {
			padding: 0;
			margin-left: 0;
		}
	}
	@media (max-width: 767px) {
		margin-top: 50px;
	}
}

.menu-1 {
	padding-left: 27px;
	&__title {
		margin: 0 0 27px;
		color: #fff;
		font-family: 'Raleway',sans-serif;
		font-size: 18px;
		line-height: 13px;
		font-weight: 700;
	}
	&__item-layout {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	&__link {
		display: block;
		color: #fff;
		color: #fff;
		font-family: 'Roboto',sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		&:hover,&:focus {
			color: #fff;
			opacity: 0.8;
			text-decoration: none;
		}
	}
	@media (max-width: 991px) {
		padding: 0;
	}
	@media (max-width: 767px) {
		&__title {
			margin-bottom: 5px;
			font-size: 14px;
		}
		&__item {
			display: inline-block;
			margin-right: 10px;
		}
		&__item-layout {
			margin-bottom: 25px;
		}
	}
}

.form-1 {
	overflow: hidden;
	&__item {
		border: 0;
		padding: 0;
	}
	&__item {
		float: left;
		height: 100%;
	}
	&__text {
		padding-left: 23px;
		color: #333;
		font-family: Roboto;
		font-size: 12px;
		font-weight: 700;
		line-height: 21px;
		text-transform: uppercase;
		background-color: #fff51f;
		//mods
		&_wdh_1 {
			width: 180px;
		}
	}
	&__submit {
		//mods
		color: #fff;
		font-family: Roboto,sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 21px;
		text-transform: uppercase;
		background-color: #000;
		&_wdh_1 {
			width: 70px;
		}
	}
	//mods
	&_hgt_1 {
		height: 30px;
	}
}

.payment {
	// mods
	overflow: hidden;
	margin-top: 45px;
	&__item-container {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	&__item {
		float: left;
		width: 36px;
		height: 22px;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
		&_am-ex {
			background: url(../img/aex.jpg) no-repeat;
		}
		&_mast-crt {
			background: url(../img/mastercard.jpg) no-repeat;
		}
		&_maestro {
			background: url(../img/maestero.jpg) no-repeat;
		}
		&_pp {
			background: url(../img/paypal.jpg) no-repeat;
		}
		&_disc {
			background: url(../img/discover.jpg) no-repeat;
		}
		&_visa {
			background: url(../img/visa_straight.jpg) no-repeat;
		}
	}
}

.footer-spike {
	background-color: #333;
	overflow: hidden;
	padding: 20px 0 14px;
	margin-top: 64px;
	&__copy {
		color: #dad9d9;
		font-family: 'Roboto',sans-serif;
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
	}
	@media (max-width: 767px) {
		margin-top: 50px;
	}
}

